<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('navbar') %> <% messages.forEach((message) => { %>
    <div>
      <div><%= message.title %></div>
      <div><%= message.content %></div>
    </div>
    <% }) %> <% if (user) { %>
    <div>Hello, <%= `${user.first_name} ${user.last_name}` %></div>
    <div>Create a new message</div>
    <form action="/new-message" method="POST">
      <label for="title">Title</label>
      <input id="title" name="title" type="text" maxlength="50" required />
      <label for="content">Message</label>
      <textarea name="content" id="content" maxlength="255" required></textarea>
      <button>Send</button>
    </form>
    <% } %>
  </body>
</html>
